Repository openlit/openlit, pull requests merged in 2025-03, with the labels that each got.

#617 [Feat]: Update Anthropic Instrumentation with to align with OTel Semconv
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/instrumentation/anthropic/__init__.py
  sdk/python/src/openlit/instrumentation/anthropic/anthropic.py
  sdk/python/src/openlit/instrumentation/anthropic/async_anthropic.py
  sdk/python/src/openlit/instrumentation/openai/async_openai.py
  sdk/python/src/openlit/instrumentation/openai/openai.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#619 [Feat]: Align AI21 Instrumentation to OTel Semconv
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/ai21/__init__.py
  sdk/python/src/openlit/instrumentation/ai21/ai21.py
  sdk/python/src/openlit/instrumentation/ai21/async_ai21.py
  sdk/python/src/openlit/instrumentation/cohere/async_cohere.py
  sdk/python/src/openlit/instrumentation/cohere/cohere.py
  sdk/python/tests/test_ai21.py
Labels: openlit-python

#620 [Feat]: Update AssemblyAI, Bedrock, Gemini, ElevenLabs and Azure AI Inference Instrumentation for compatibility with OTel Semconv
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/__init__.py
  sdk/python/src/openlit/instrumentation/assemblyai/__init__.py
  sdk/python/src/openlit/instrumentation/assemblyai/assemblyai.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/__init__.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/async_azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/bedrock/__init__.py
  sdk/python/src/openlit/instrumentation/bedrock/bedrock.py
  sdk/python/src/openlit/instrumentation/cohere/async_cohere.py
  sdk/python/src/openlit/instrumentation/cohere/cohere.py
  sdk/python/src/openlit/instrumentation/elevenlabs/async_elevenlabs.py
  sdk/python/src/openlit/instrumentation/elevenlabs/elevenlabs.py
  sdk/python/src/openlit/instrumentation/google_ai_studio/__init__.py
  sdk/python/src/openlit/instrumentation/google_ai_studio/async_google_ai_studio.py
  sdk/python/src/openlit/instrumentation/google_ai_studio/google_ai_studio.py
  sdk/python/src/openlit/instrumentation/openai/async_openai.py
  sdk/python/src/openlit/instrumentation/openai/openai.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#612 [Fix]: Look for model_name as fallback in langchain
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/langchain/langchain.py
Labels: openlit-python

#628 [Feat]: Update Mistral and Ollama OpenTelemetry Instrumentation and align with Semantic Conventions
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/instrumentation/elevenlabs/async_elevenlabs.py
  sdk/python/src/openlit/instrumentation/elevenlabs/elevenlabs.py
  sdk/python/src/openlit/instrumentation/mistral/__init__.py
  sdk/python/src/openlit/instrumentation/mistral/async_mistral.py
  sdk/python/src/openlit/instrumentation/mistral/mistral.py
  sdk/python/src/openlit/instrumentation/ollama/__init__.py
  sdk/python/src/openlit/instrumentation/ollama/async_ollama.py
  sdk/python/src/openlit/instrumentation/ollama/ollama.py
  sdk/python/src/openlit/instrumentation/premai/premai.py
Labels: openlit-python

#629 [Feat]: Update PremAI and RekaAI Instrumentations to align with OTel Semconv
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/premai/__init__.py
  sdk/python/src/openlit/instrumentation/premai/premai.py
  sdk/python/src/openlit/instrumentation/reka/__init__.py
  sdk/python/src/openlit/instrumentation/reka/async_reka.py
  sdk/python/src/openlit/instrumentation/reka/reka.py
Labels: openlit-python

#630 [Feat]: Update Together AI and HuggingFace Transformers OpenTelemetry Instrumentations
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/ai21/ai21.py
  sdk/python/src/openlit/instrumentation/ai21/async_ai21.py
  sdk/python/src/openlit/instrumentation/anthropic/anthropic.py
  sdk/python/src/openlit/instrumentation/anthropic/async_anthropic.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/async_azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/cohere/async_cohere.py
  sdk/python/src/openlit/instrumentation/cohere/cohere.py
  sdk/python/src/openlit/instrumentation/gpt4all/gpt4all.py
  sdk/python/src/openlit/instrumentation/groq/async_groq.py
  sdk/python/src/openlit/instrumentation/groq/groq.py
  sdk/python/src/openlit/instrumentation/openai/async_openai.py
  sdk/python/src/openlit/instrumentation/openai/openai.py
  sdk/python/src/openlit/instrumentation/together/__init__.py
  sdk/python/src/openlit/instrumentation/together/async_together.py
  sdk/python/src/openlit/instrumentation/together/together.py
  sdk/python/src/openlit/instrumentation/transformers/__init__.py
  sdk/python/src/openlit/instrumentation/transformers/transformers.py
Labels: openlit-python

#632 [Feat]: Update vLLM and VertexAI OpenTelemetry Instrumentations
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/vertexai/__init__.py
  sdk/python/src/openlit/instrumentation/vertexai/async_vertexai.py
  sdk/python/src/openlit/instrumentation/vertexai/vertexai.py
  sdk/python/src/openlit/instrumentation/vllm/__init__.py
  sdk/python/src/openlit/instrumentation/vllm/vllm.py
Labels: openlit-python

#634 [Fix]: using DOCKER_PORT & PORT as the env variable, you can now bind the ports inside and outside docker container
  docker-compose.yml
  src/client/Dockerfile
  src/client/logs/evaluation/auto.log
  src/client/package-lock.json
  src/client/package.json
  src/client/scripts/entrypoint.sh
  src/dev-docker-compose.yml
Labels: client

#645 [Feat]: Support Events API in Anthropic Instrumentation for AI content collection
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/instrumentation/ag2/__init__.py
  sdk/python/src/openlit/instrumentation/ag2/ag2.py
  sdk/python/src/openlit/instrumentation/ai21/__init__.py
  sdk/python/src/openlit/instrumentation/ai21/ai21.py
  sdk/python/src/openlit/instrumentation/ai21/async_ai21.py
  sdk/python/src/openlit/instrumentation/ai21/utils.py
  sdk/python/src/openlit/instrumentation/anthropic/__init__.py
  sdk/python/src/openlit/instrumentation/anthropic/anthropic.py
  sdk/python/src/openlit/instrumentation/anthropic/async_anthropic.py
  sdk/python/src/openlit/instrumentation/anthropic/utils.py
  sdk/python/src/openlit/instrumentation/ollama/utils.py
  sdk/python/tests/test_ai21.py
Labels: openlit-python

#646 [Feat]: Remove the dependency on tiktoken
  .github/workflows/test-pypi-release.yml
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/instrumentation/openai/async_openai.py
  sdk/python/src/openlit/instrumentation/openai/openai.py
  sdk/python/tests/requirements.txt
Labels: openlit-python

#647 [Feat]: Use Events API for Assembly Instrumentations
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/assemblyai/__init__.py
  sdk/python/src/openlit/instrumentation/assemblyai/assemblyai.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/__init__.py
Labels: openlit-python

#655 [Feat]: Refactor AstraDB OpenTelemetry Instrumentation
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/astra/__init__.py
  sdk/python/src/openlit/instrumentation/astra/astra.py
  sdk/python/src/openlit/instrumentation/astra/async_astra.py
  sdk/python/src/openlit/instrumentation/astra/utils.py
  sdk/python/src/openlit/instrumentation/chroma/chroma.py
  sdk/python/src/openlit/instrumentation/dynamiq/dynamiq.py
  sdk/python/src/openlit/instrumentation/milvus/milvus.py
  sdk/python/src/openlit/instrumentation/pinecone/pinecone.py
  sdk/python/src/openlit/instrumentation/qdrant/async_qdrant.py
  sdk/python/src/openlit/instrumentation/qdrant/qdrant.py
  sdk/python/src/openlit/otel/metrics.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#658 [Feat]: OpenTelemetry Instrumentation for OpenAI Response API and OpenAI Agents SDK
  docs/latest/integrations/introduction.mdx
  docs/latest/integrations/openai-agents.mdx
  docs/mint.json
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__init__.py
  sdk/python/src/openlit/instrumentation/openai/__init__.py
  sdk/python/src/openlit/instrumentation/openai/async_openai.py
  sdk/python/src/openlit/instrumentation/openai/openai.py
  sdk/python/src/openlit/instrumentation/openai_agents/__init__.py
  sdk/python/src/openlit/instrumentation/openai_agents/openai_agents.py
Labels: openlit-python, documentation

#661 [Fix]: 'SystemMessage' object is not subscriptable in LangChain
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/langchain/langchain.py
Labels: openlit-python

#662 [Feat]: Use Events API In Azure AI Inference OpenTelemetry Instrumentation
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/azure_ai_inference/__init__.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/async_azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/azure_ai_inference.py
  sdk/python/src/openlit/instrumentation/azure_ai_inference/utils.py
Labels: openlit-python
