Repository openlit/openlit, pull requests merged in 2025-07, with the labels that each got.

#792 [Feat]: Refactor Langchain OpenTelemetry Monitoring Instrumentation
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__init__.py
  sdk/python/src/openlit/instrumentation/langchain/__init__.py
  sdk/python/src/openlit/instrumentation/langchain/async_langchain.py
  sdk/python/src/openlit/instrumentation/langchain/langchain.py
  sdk/python/src/openlit/instrumentation/langchain/utils.py
  sdk/python/src/openlit/instrumentation/langchain_community/__init__.py
  sdk/python/src/openlit/instrumentation/langchain_community/async_langchain_community.py
  sdk/python/src/openlit/instrumentation/langchain_community/langchain_community.py
  sdk/python/src/openlit/instrumentation/langchain_community/utils.py
  sdk/python/tests/test_langchain.py.hold
Labels: openlit-python

#790 [Fea]: Add Clickhouse Config for Log level setting
  assets/clickhouse-config.xml
  docker-compose.yml
  src/client/package-lock.json
  src/client/package.json
  src/dev-docker-compose.yml
Labels: client

#789 Feat: Add evaluation modules for bias, toxicity, and hallucination detection
  .github/workflows/typescript-tests.yml
  docs/latest/quickstart-evals.mdx
  sdk/typescript/jest.config.js
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
  sdk/typescript/src/evals/__tests__/anthropic.test.ts
  sdk/typescript/src/evals/__tests__/base.test.ts
  sdk/typescript/src/evals/__tests__/core.test.ts
  sdk/typescript/src/evals/__tests__/metrics.test.ts
  sdk/typescript/src/evals/__tests__/openai.test.ts
  sdk/typescript/src/evals/__tests__/providers.test.ts
  sdk/typescript/src/evals/__tests__/utils.test.ts
  sdk/typescript/src/evals/all.ts
  sdk/typescript/src/evals/base.ts
  sdk/typescript/src/evals/bias.ts
  sdk/typescript/src/evals/hallucination.ts
  sdk/typescript/src/evals/index.d.ts
  sdk/typescript/src/evals/index.ts
  sdk/typescript/src/evals/llm/anthropic.ts
  sdk/typescript/src/evals/llm/openai.ts
  sdk/typescript/src/evals/llm/providers.ts
  sdk/typescript/src/evals/metrics.ts
  sdk/typescript/src/evals/toxicity.ts
  sdk/typescript/src/evals/types.ts
  sdk/typescript/src/evals/utils.ts
  sdk/typescript/src/index.ts
  sdk/typescript/tsconfig.tsbuildinfo
Labels: openlit-js

#800 Feat: Evaluation for typescript release
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Labels: openlit-js

#802 [Feat]: Refactor ChromaDB OpenTelemetry Monitoring Instrumentation
  contributors/adding-new-vectordb-instrumentation.md
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/chroma/__init__.py
  sdk/python/src/openlit/instrumentation/chroma/chroma.py
  sdk/python/src/openlit/instrumentation/chroma/utils.py
  sdk/python/src/openlit/instrumentation/pinecone/async_pinecone.py
  sdk/python/src/openlit/instrumentation/pinecone/pinecone.py
  sdk/python/src/openlit/instrumentation/pinecone/utils.py
Labels: openlit-python

#807 [Feat]: Refactor OpenAI Agents OpenTelemetry Instrumentation
  contributors/framework-instrumentation-guide.md
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/openai/utils.py
  sdk/python/src/openlit/instrumentation/openai_agents/__init__.py
  sdk/python/src/openlit/instrumentation/openai_agents/openai_agents.py
  sdk/python/src/openlit/instrumentation/openai_agents/processor.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#811 [Feat]: Refactor AG2 OpenTelemetry Monitoring Instrumentation
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__init__.py
  sdk/python/src/openlit/instrumentation/ag2/__init__.py
  sdk/python/src/openlit/instrumentation/ag2/ag2.py
  sdk/python/src/openlit/instrumentation/ag2/async_ag2.py
  sdk/python/src/openlit/instrumentation/ag2/utils.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#813 [Feat]: Release TS SDK 1.6.0
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Labels: openlit-js

#817 [Feat]: Refactor Letta AI OpenTelemetry Instrumentation
  docs/latest/integrations/embedchain.mdx
  docs/latest/integrations/introduction.mdx
  docs/mint.json
  sdk/python/pyproject.toml
  sdk/python/src/openlit/_instrumentors.py
  sdk/python/src/openlit/instrumentation/embedchain/__init__.py
  sdk/python/src/openlit/instrumentation/embedchain/embedchain.py
  sdk/python/src/openlit/instrumentation/letta/__init__.py
  sdk/python/src/openlit/instrumentation/letta/async_letta.py
  sdk/python/src/openlit/instrumentation/letta/letta.py
  sdk/python/src/openlit/instrumentation/letta/utils.py
  sdk/python/src/openlit/semcov/__init__.py
  sdk/python/tests/requirements.txt
  sdk/python/tests/test_embedchain.py
  sdk/python/tests/test_firecrawl.py
Labels: openlit-python, documentation

#825 [Feat]: Refactor Crawl4AI OpenTelemetry Monitoring Instrumentaion
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/crawl4ai/__init__.py
  sdk/python/src/openlit/instrumentation/crawl4ai/async_crawl4ai.py
  sdk/python/src/openlit/instrumentation/crawl4ai/crawl4ai.py
  sdk/python/src/openlit/instrumentation/crawl4ai/utils.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python

#847 [Feat]: Add OpenTelemetry Monitoring Instrumentation for browser-use
  docs/images/docs-browser-use-banner.gif
  docs/latest/integrations/browser-use.mdx
  docs/latest/integrations/introduction.mdx
  docs/mint.json
  sdk/python/.pylintrc
  sdk/python/pyproject.toml
  sdk/python/src/openlit/_instrumentors.py
  sdk/python/src/openlit/instrumentation/browser_use/__init__.py
  sdk/python/src/openlit/instrumentation/browser_use/async_browser_use.py
  sdk/python/src/openlit/instrumentation/browser_use/browser_use.py
  sdk/python/src/openlit/instrumentation/browser_use/utils.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python, documentation
