Repository openlit/openlit, pull requests merged in 2025-08, with the labels that each got.

#849 [Fix]: coroutine `async_model_run_function_call_wrap.<locals>.wrapper` was never awaited
  sdk/python/pyproject.toml
  sdk/python/src/openlit/instrumentation/agno/__init__.py
  sdk/python/src/openlit/instrumentation/agno/async_agno.py
Labels: openlit-python

#850 [Feat]: Zero-code CLI Instrumentation for LLM and AI Agents
  docs/latest/sdk-configuration.mdx
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__init__.py
  sdk/python/src/openlit/_instrumentors.py
  sdk/python/src/openlit/cli/__init__.py
  sdk/python/src/openlit/cli/bootstrap/sitecustomize.py
  sdk/python/src/openlit/cli/config.py
  sdk/python/src/openlit/cli/main.py
Labels: openlit-python

#819 feat: implement social logins google and github
  docker-compose.yml
  docs/latest/oauth-authentication.mdx
  docs/latest/ui-configuration.mdx
  docs/mint.json
  src/client/.env.example
  src/client/package-lock.json
  src/client/package.json
  src/client/src/app/auth.ts
  src/client/src/components/(auth)/auth-form.tsx
  src/dev-docker-compose.yml
Labels: client, documentation

#852 [Chore]: Release ts v1.7.0
  sdk/typescript/package-lock.json
  sdk/typescript/package.json
Labels: openlit-js

#854 [Fix]: Temp hold few tests until usage issues are resolved
  sdk/python/pyproject.toml
  sdk/python/tests/test_anthropic.py.hold
  sdk/python/tests/test_azure_ai_inference.py.hold
  sdk/python/tests/test_controlflow.py.hold
  sdk/python/tests/test_google_ai_studio.py.hold
  sdk/python/tests/test_openai.py.hold
Labels: openlit-python

#858 [Feat]: Add OpenTelemetry Monitoring Instrumentation for MCP
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/_instrumentors.py
  sdk/python/src/openlit/instrumentation/langchain/__init__.py
  sdk/python/src/openlit/instrumentation/mcp/__init__.py
  sdk/python/src/openlit/instrumentation/mcp/async_mcp.py
  sdk/python/src/openlit/instrumentation/mcp/mcp.py
  sdk/python/src/openlit/instrumentation/mcp/utils.py
  sdk/python/src/openlit/otel/metrics.py
  sdk/python/src/openlit/semcov/__init__.py
  sdk/python/tests/test_firecrawl.py.hold
Labels: openlit-python

#859 [Fix]: Attributes in OpenTelemetry Instrumentations
  sdk/python/pyproject.toml
  sdk/python/src/openlit/__helpers.py
  sdk/python/src/openlit/instrumentation/astra/utils.py
  sdk/python/src/openlit/instrumentation/chroma/utils.py
  sdk/python/src/openlit/instrumentation/milvus/utils.py
  sdk/python/src/openlit/instrumentation/pinecone/utils.py
  sdk/python/src/openlit/instrumentation/qdrant/utils.py
  sdk/python/src/openlit/semcov/__init__.py
Labels: openlit-python
